

header {
  grid-area: header;
  background-color: pink;



}
main {
  grid-area: main;
  background-color: blue;



}
aside {
  grid-area: sidebar;
  background-color: green;
}
footer {
  grid-area: footer;
  background-color: red;


}

 #button1{
  height: 50px;
  width: 60px;
  background-color: red;
  position: fixed;
  margin: 10px;

}
#button2{
  height: 100px;
  width: 50px;
  background-color: black;

  position: fixed;
  margin: 10px;


}
#button3{
  height: 50px;
  width: 50px;
  background-color: yellow;

  position: fixed;
  margin: 10px;

}

#wrapper {
height:100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:  33% 33% 33%;
  grid-template-areas:
    "header header header sidebar"
    " main main .sidebar "
    "footer footer footer sidebar";
}
body{

height:300vh;

}

@media only screen and (max-width: 700px) {
  #wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 31% 31% 31%;
    grid-template-areas:
  "sidebar"
    "header"
    "main"
    "footer";

  }

}
