

#flex-container {
  display: flex;
  flex-direction: column;

}


#flex-container > div {

height: 600px;
width: 1200px;
background-color: blue;
margin: 20px;
line-height: 75px;
font-size: 30px;

}

#button2{

height: auto;
width: auto;
background-color: yellow;

}

nav{
height: 100px;
width: 1200px;
background-color: red;
margin: 20px;




}




/*header{
background-color: blue;
height: 150px;
margin-left: auto;
margin-right: auto;
text-align: center;
grid-area: header;
  display: flex;
}
main{

  background-color: white;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

aside{

background-color: blue;
height: 700px;
margin-left: auto;
margin-right: auto;

}

footer{
  background-color: white;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}
