


header {
  grid-area: header;
  background-color: pink;
  height: 500px;
    width: 935px;
    margin: 5px;
}
main {
  grid-area: main;
  background-color: blue;
  height: 500px;
  width: 935px;
  margin: 5px;
}
aside {
  grid-area: sidebar;
  background-color: green;
  height: 100%;
  margin: 10px;




}



 #button1{
  height: 50px;
  width: 60px;
  background-color: red;
  position: fixed;
  display: flex;
  margin: 10px;

}
#button2{
  height: 100px;
  width: 50px;
  background-color: black;
  display: flex;
  position: fixed;
  margin: 10px;




}
#button3{
  height: 50px;
  width: 50px;
  background-color: black;
  display: flex;
  position: fixed;
  margin: 10px;



}


footer {
  grid-area: footer;
  background-color: red;
  height: 500px;
    width: 935px;
    margin: 5px;


}

#wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    "header header header sidebar"
    " main main .sidebar "
    "footer footer footer sidebar";
}
@media only screen and (max-width: 1000px) {
  #wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";

  }
}
